﻿<h1>Titles</h1>
<hr />

<!-- ko if: isLoading -->
<loading-spinner params=""></loading-spinner>
<!-- /ko -->

<!-- ko ifnot: isLoading -->
<!-- ko if: titles().length==0 -->
<h4>No content</h4>
<!-- /ko -->

<!-- ko if: titles().length>0 -->
<div data-bind="foreach: titles">
    <div class="row row-cols-1 row-cols-lg-3" data-bind="foreach: $data">
        <div class="col mb-4">
            <div class="card h-100 card-hover">
                <div class="card-header">
                    <h4 class="card-title" data-bind="text: originalTitle"></h3>
                </div>

                <div class="card-body">
                    <div class="row row-cols-1 row-cols-lg-2 my-3">
                        <!-- ko ifnot: posterUrl == null -->
                        <div class="col-4 col-lg-4">
                            <img class="card-img" data-bind="attr: { src: posterUrl }">
                        </div>
                        <!-- /ko -->

                        <div class="col-8 col-lg-8">
                            <p class="card-text">
                                <strong>Media type: </strong><span data-bind="text: mediaType"></span>
                            </p>

                            <p class="card-text">
                                <strong>Release year: </strong><span data-bind="text: releaseYear"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary btn-sm float-end w-100" data-bind="click: $parents[1].seeDetails.bind($data, url)">
                        See more <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->

<list-nav params="totalPages: totalPages, prevUrl: prevTitlesUrl, nextUrl: nextTitlesUrl, isLoading: isLoading"></list-nav>
