
<div class="modal fade" id="registerModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-bind="submit: handleSubmit" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title">Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login</label>
                        <input type="text" class="form-control" id="loginInput" minlength="4" maxlength="50" required />
                    </div>

                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordInput" minlength="12" maxlength="32" required />
                    </div>
                    <div id="errorText" class="form-text text-danger">
                        
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitLogin">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>