
<div class="hstack gap-2" id="rate-stars">
    <button class="btn btn-outline-warning btn-sm" id="btn-rate-1" data-bind="click: handleClick, class: button1ActiveStatus">
        <i class="fas fa-star rate-star checked"></i>
    </button>

    <button class="btn btn-outline-warning btn-sm" id="btn-rate-2" data-bind="click: handleClick, class: button2ActiveStatus">
        <i class="fas fa-star rate-star checked"></i>
    </button>

    <button class="btn btn-outline-warning btn-sm" id="btn-rate-3" data-bind="click: handleClick, class: button3ActiveStatus">
        <i class="fas fa-star rate-star checked"></i>
    </button>

    <button class="btn btn-outline-warning btn-sm" id="btn-rate-4" data-bind="click: handleClick, class: button4ActiveStatus">
        <i class="fas fa-star rate-star"></i>
    </button>
    
    <button class="btn btn-outline-warning btn-sm" id="btn-rate-5" data-bind="click: handleClick, class: button5ActiveStatus">
        <i class="fas fa-star rate-star"></i>
    </button>
</div>