
<div class="modal fade" id="addBookmarkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-bind="submit: handleSubmit" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title">Add Bookmark</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="labelInput" class="form-label">Label</label>
                        <input type="text" class="form-control" id="labelInput" data-bind="event: { change: handleChange }" required />
                    </div>

                    <div id="errorText" class="form-text text-danger">
                        
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>