
<div class="modal fade" id="updateRatingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-bind="submit: handleSubmit" autocomplete="off">
                <div class="modal-header">
                    <h5 class="modal-title">Rate title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="vstack gap-5">
                        <rate-stars params="rating: rating"></rate-stars>
                        
                        <div>
                            <label for="commentTextarea">Comment</label>
                            <textarea class="form-control" placeholder="Leave a comment here" id="commentTextarea" style="height: 100px;"></textarea>
                        </div>
                    </div>

                    <div id="errorText" class="form-text text-danger">
                        
                    </div>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRatingModal">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>