﻿
<div class="row">
    <form data-bind="submit: handleSubmitSearch" autocomplete="off">
        <div class="input-group" id="searchBar">
            <button class="btn btn-outline-primary active" type="button" id="searchTitleButton" data-bind="click: handleChoiceClick">Titles</button>
            <button class="btn btn-outline-primary" type="button" id="searchPersonButton" data-bind="click: handleChoiceClick">Persons</button>
            <input type="text" class="form-control" placeholder="Search element">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>

<div class="row row-cols-1 row-cols-lg-2 mt-5">
    <div class="col-lg-3 order-2 order-lg-1">
        <table class="table table-hover">
            <thead>
                <th>History</th>
            </thead>
            <tbody data-bind="foreach: searchHistory">
                <td data-bind="text: searchedText, click: $parent.handleClickHistory.bind($data, searchedText, searchType)"  style="cursor: pointer"></td>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9 order-1 order-lg-2">
        <!-- ko if: isViewable -->
        <div data-bind="component: { name: currentComponent }"></div>
        <!-- /ko -->
    </div>
</div>