﻿<h1>Persons</h1>
<hr />

<!-- ko if: isLoading -->
<loading-spinner params=""></loading-spinner>
<!-- /ko -->

<!-- ko ifnot: isLoading -->
<!-- ko if: persons().length==0 -->
<h4>No content</h4>
<!-- /ko -->

<!-- ko if: persons().length>0 -->
<div data-bind="foreach: persons">
    <div class="row row-cols-1 row-cols-lg-3" data-bind="foreach: $data">
        <div class="col mb-4">
            <div class="card h-100 card-hover">
                <div class="card-header">
                    <h4 class="card-title" data-bind="text: fullName"></h4>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text">
                                <strong>Birth year: </strong><span data-bind="text: birthYear"></span>
                            </p>
                        </div>

                        <!-- ko ifnot: deathYear==null -->
                        <div class="col">
                            <p class="card-text">
                                <strong>Death year: </strong><span data-bind="text: deathYear"></span>
                            </p>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary btn-sm float-end w-100" data-bind="click: $parents[1].seeDetails.bind($data, url)">
                        See more <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->

<list-nav params="totalPages: totalPages, prevUrl: prevPersonsUrl, nextUrl: nextPersonsUrl, isLoading: isLoading"></list-nav>