
<ul class="nav nav-tabs mb-4" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="titleBookmarks" data-bind="click: handleClick">Title Bookmarks</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="personBookmarks" data-bind="click: handleClick">Person Bookmarks</button>
    </li>
</ul>


<div data-bind="component: { name: currentComponent }"></div>