
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4 col-lg-4 text-start">
                <button class="btn btn-link btn-sm float-start" data-bind="click: returnToLastView">
                    <i class="fas fa-chevron-left"></i> back
                </button>
            </div>

            <div class="col-5 col-lg-4">
                <h5 class="card-title text-center">Title details</h5>
            </div>

            <div class="col-3 col-lg-4 text-end" data-bind="visible: hasGeneralRating">
                <i class="fas fa-star text-warning"></i> <span class="text-end" data-bind="text: generalRating"></span>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="vstack gap-4">
            <!-- ko if: isLoading -->
            <loading-spinner params=""></loading-spinner>
            <!-- /ko -->

            <!-- ko ifnot: isLoading -->
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col-sm offset-lg-2 col-lg-4">
                    <button type="button" class="btn btn-outline-primary btn-sm w-100" data-bind="hidden: isBookmarked" data-bs-toggle="modal" data-bs-target="#addBookmarkModal">
                        <i class="fas fa-plus"></i> Add to bookmarks
                    </button>

                    <button type="button" class="btn btn-outline-success btn-sm w-100" data-bind="visible: isBookmarked" disabled>
                        <i class="fas fa-check"></i> Added to bookmarks
                    </button>
                </div>

                <div class="col-sm col-lg-4 mt-2 mt-lg-0">
                    <button type="button" class="btn btn-outline-warning btn-sm w-100" data-bind="hidden: isRated" data-bs-toggle="modal" data-bs-target="#addRatingModal">
                        <i class="fas fa-star"></i> Rate title
                    </button>

                    <button type="button" class="btn btn-outline-warning btn-sm w-100" data-bind="visible: isRated" data-bs-toggle="modal" data-bs-target="#updateRatingModal">
                        <i class="fas fa-star"></i> Title rated
                    </button>
                </div>
            </div>

            <img class="rounded mx-auto d-block" data-bind="visible: hasPoster, attr: { src: posterUrl}" style="max-width: 30%;">

            <div data-bind="visible: hasParent">
                <div class="card">
                    <div class="card-body card-hover">
                        <h5 for="fromInput">From</h5>
                        <span class="card-text" data-bind="text: parentTitle"></span>
                    </div>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-lg-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Title</h5>
                            <span class="card-text" data-bind="text: originalTitle"></span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Type</h5>
                            <span class="card-text" data-bind="text: mediaType"></span>
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Released in</h5>
                            <span class="card-text" data-bind="text: releaseYear"></span>
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Ended in</h5>
                            <span class="card-text" data-bind="text: endYear"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Awards</h5>
                            <span class="card-text" data-bind="text: awards"></span>
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Genres</h5>
                            <span class="card-text" data-bind="text: genres"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body card-hover">
                    <h5 class="card-title">Synopsis</h5>
                    <span class="card-text" data-bind="text: synopsis">
                </div>
            </div>

            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <!-- ko if: hasWorks -->
                            <h5 class="card-title">Staff</h5>
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Job</th>
                                </thead>
                            
                                <tbody data-bind="foreach: works">
                                    <td data-bind="text: lastName"></td>
                                    <td data-bind="text: firstName"></td>
                                    <td data-bind="text: job"></td>
                                </tbody>
                            </table>
                            <!-- /ko -->

                            <!-- ko ifnot: hasWorks-->
                            <h5 class="card-title">Staff not available</h5>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <!-- ko if: hasAkas -->
                            <h5>Also known as</h5>
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col">Title</th>
                                    <th scope="col">Country code</th>
                                    <th scope="col">Language code</th>
                                </thead>
                            
                                <tbody data-bind="foreach: titleAkas">
                                    <td data-bind="text: otherTitle"></td>
                                    <td data-bind="text: countryCode"></td>
                                    <td data-bind="text: languageCode"></td>
                                </tbody>
                            </table>
                            <!-- /ko -->

                            <!-- ko ifnot: hasAkas -->
                            <h5>No known aliases</h5>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <!-- ko if: hasLastRatings -->
                            <h5 class="card-title">Last Ratings</h5>
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col">Title</th>
                                    <th scope="col">Country code</th>
                                    <th scope="col">Language code</th>
                                </thead>
                            
                                <tbody data-bind="foreach: titleAkas">
                                    <td data-bind="text: otherTitle"></td>
                                    <td data-bind="text: countryCode"></td>
                                    <td data-bind="text: languageCode"></td>
                                </tbody>
                            </table>
                            <!-- /ko -->
        
                            <!-- ko ifnot: hasLastRatings -->
                            <h5>No last ratings</h5>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Similar Titles</h5>
                            <!-- ko if: similarTitlesLoading -->
                            <loading-spinner params=""></loading-spinner>
                            <!-- /ko -->

                            <!-- ko ifnot: similarTitlesLoading -->
                            <table class="table table-hover">
                                <thead>
                                <th scope="col">Title</th>
                                <th scope="col">Action</th>
                                </thead>

                                <tbody data-bind="foreach: similarTitles">
                                <td data-bind="text: originalTitle"></td>
                                <td>
                                    <button class="btn btn-outline-primary btn-sm" data-bind="click: $parent.seeSimilarTitleDetails.bind($data, url)">
                                        See more <i class="fas fa-chevron-right"></i>
                                    </button>
                                </td>
                                </tbody>
                            </table>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>

<add-bookmark-modal params=""></add-bookmark-modal>
<add-rating-modal params=""></add-rating-modal>
<update-rating-modal params="userRating: userRating, userComment: userComment"></update-rating-modal>
<delete-rating-modal params=""></delete-rating-modal>