
<div class="card">
    <div class="card-header">
        <div class="hstack gap-3">
            <button class="btn btn-link" data-bind="click: returnToLastView">
                <i class="fas fa-chevron-left"></i> back
            </button>
            <h5 class="card-title">Person details</h5>
        </div>
    </div>

    <div class="card-body">
        <div class="vstack gap-4">
            <!-- ko if: isLoading -->
            <loading-spinner params=""></loading-spinner>
            <!-- /ko -->

            <!-- ko ifnot: isLoading -->
            <div class="row">
                <div class="col-sm offset-lg-4 col-lg-4">
                    <button type="button" class="btn btn-outline-primary btn-sm w-100" data-bind="hidden: isBookmarked" data-bs-toggle="modal" data-bs-target="#addBookmarkModal">
                        <i class="fas fa-plus"></i> Add to bookmarks
                    </button>

                    <button type="button" class="btn btn-outline-success btn-sm w-100" data-bind="visible: isBookmarked" disabled>
                        <i class="fas fa-check"></i> Added to bookmarks
                    </button>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-lg-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Last Name</h5>
                            <span class="card-text" data-bind="text: lastName"></span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">First Name</h5>
                            <span class="card-text" data-bind="text: firstName"></span>
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Birth Year</h5>
                            <span class="card-text" data-bind="text: birthYear"></span>
                        </div>
                    </div>
                </div>

                <div class="col mt-lg-0 mt-3">
                    <div class="card">
                        <div class="card-body card-hover">
                            <h5 class="card-title">Death Year</h5>
                            <span class="card-text" data-bind="text: deathYear"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <div class="card">
                <div class="card-body card-hover">
                    <!-- ko if: hasWorks -->
                    <h5 class="card-title">Works</h5>
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Title</th>
                            <th scope="col">Released</th>
                            <th scope="col">Job</th>
                        </thead>
                    
                        <tbody data-bind="foreach: works">
                            <td data-bind="text: title"></td>
                            <td data-bind="text: releaseYear"></td>
                            <td data-bind="text: job"></td>
                        </tbody>
                    </table>
                    <!-- /ko -->

                    <!-- ko ifnot: hasWorks-->
                    <h5 class="card-title">Works not available</h5>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<add-bookmark-modal params=""></add-bookmark-modal>