
<h1>Person Bookmarks</h1>

<!-- ko if: isLoading -->
<loading-spinner params=""></loading-spinner>
<!-- /ko -->

<!-- ko ifnot: isLoading -->
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    
    <tbody data-bind="foreach: bookmarks">
        <tr>
            <td data-bind="text: label"></td>
            <td data-bind="text: date"></td>
            <td>
                <button type="button" class="btn btn-sm btn-outline-primary" data-bind="click: $parent.seeDetails.bind($data, personUrl)">
                    <span class="d-none d-lg-inline">See more</span> <i class="fas fa-chevron-right"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-warning" data-bind="click: $parent.updatePutData.bind($data, personUrl, label)" data-bs-toggle="modal" data-bs-target="#updateBookmarkModal">
                    <span class="d-none d-lg-inline">Edit</span> <i class="fas fa-pen"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bind="click: $parent.updateDeleteData.bind($data, personUrl)" data-bs-toggle="modal" data-bs-target="#deleteBookmarkModal">
                    <span class="d-none d-lg-inline">Delete</span> <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- /ko -->

<list-nav params="totalPages: totalPages, prevUrl: prevUrl, nextUrl: nextUrl, isLoading: isLoading"></list-nav>

<delete-bookmark-modal params=""></delete-bookmark-modal>
<update-bookmark-modal params="label: putLabel"></update-bookmark-modal>