<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IMDb app</a>

        <div class="d-inline d-lg-none">
            <button type='button' class='btn btn-outline-info' data-bind="visible: isLoggedStatus" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
            <button type='button' class='btn btn-outline-primary' data-bind="visible: isLoggedStatus" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
            <button type='button' class='btn btn-outline-danger' data-bind="hidden: isLoggedStatus, click: handleLogoutClick">Logout</button>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-bind="click: changeToTitleView, class: titleNavActiveStatus" href="#">Titles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bind="click: changeToPersonView, class: personsNavActiveStatus" href="#">Persons</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bind="hidden: isLoggedStatus, click: changeToBookmarkView, class: bookmarksNavActiveStatus" href="#">Bookmarks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bind="click: changeToSearchView, class: searchNavActiveStatus" href="#">Search</a>
                </li>
            </ul>
        </div>

        <div class="d-none d-lg-inline">
            <span class="navbar-brand d-none d-lg-inline" data-bind="text: welcomeMessage"></span>
            <button type='button' class='btn btn-outline-info' data-bind="visible: isLoggedStatus" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
            <button type='button' class='btn btn-outline-primary' data-bind="visible: isLoggedStatus" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
            <button type='button' class='btn btn-outline-danger' data-bind="hidden: isLoggedStatus, click: handleLogoutClick">Logout</button>
        </div>
    </div>
</nav>

<login-modal params="token: token, login: login"></login-modal>
<register-modal params=""></register-modal>