
<div class="modal fade" tabindex="-1" id="deleteBookmarkModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <p>Are you sure you want to delete this bookmark?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bind="click: deleteBookmark">Delete</button>
            </div>
        </div>
    </div>
  </div>
  