
<nav class="fixed-bottom">
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item" data-bind="class: prevButtonClickableStatus">
            <a class="page-link" data-bind="click: prevPage" href="#">Previous</a>
        </li>

        <li class="page-item disabled">
            <a class="page-link" data-bind="text: currentPage()+1"></a>
        </li>

        <li class="page-item" data-bind="class: nextButtonClickableStatus">
            <a class="page-link" data-bind="click: nextPage" href="#">Next</a>
        </li>
    </ul>
</nav>