
/* Form-control input */

.form-control.notvalid {
    border-color: red;
    border-width: 1px;
}

.form-control.valid {
    border-color: green;
    border-width: 1px;
}

.card-hover:hover {
    transition: 250ms;
    background-color: #fafafa;
}

#searchBar > .form-control {
    border-color: #0275d8;
}